<plugin name='photo-album' version='0.1' grailsVersion='1.2-RC2 &gt; *'>
  <author>Markus Mueller</author>
  <title>Plugin summary/headline</title>
  <description>\
A grails plugin with photo album functionality based on imagemagick. Note that imagemagick needs to be installed first in order to use this plugin!.
</description>
  <documentation>http://grails.org/plugin/photo-album</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>de.webmpuls.photo_album.AlbumController</resource>
    <resource>de.webmpuls.photo_album.PictureController</resource>
    <resource>de.webmpuls.photo_album.Album</resource>
    <resource>de.webmpuls.photo_album.Picture</resource>
    <resource>de.webmpuls.photo_album.PictureComment</resource>
    <resource>de.webmpuls.photo_album.AlbumService</resource>
    <resource>de.webmpuls.photo_album.PictureService</resource>
    <resource>de.webmpuls.photo_album.MediaTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='jquery' version='1.3.2.4 &gt; *' />
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
    <dependency group='org.apache' name='ant-nodeps' version='1.7.1' conf='runtime' transitive='true' />
    <dependency group='org.apache' name='ant-junit' version='1.7.1' conf='runtime' transitive='true' />
    <dependency group='org.apache' name='ant-trax' version='1.7.1' conf='runtime' transitive='true' />
    <dependency group='org.apache' name='ant-launcher' version='1.7.1' conf='runtime' transitive='true' />
    <dependency group='org.apache' name='ant' version='1.7.1' conf='runtime' transitive='true' />
  </dependencies>
  <behavior />
</plugin>